In [1]:
# import stuff
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import os

In [11]:
# creating file paths to csv files
mouse_file = os.path.join('data','Mouse_metadata.csv')
study_file = os.path.join('data','Study_results.csv')
#creating dataframes for each file
mouse_df = pd.read_csv(mouse_file)
study_results_df = pd.read_csv(study_file)
study_results_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [3]:
mouse_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [37]:
# creating (inner) merged data frame using Mouse ID common thing 
mice_study = mouse_df.merge(study_results_df, on='Mouse ID', how='inner')
mice_study.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [43]:
mice_study['Mouse ID'].nunique()

249

In [26]:
# get mouse id for duplicate time points
mouse_bool = mice_study[['Mouse ID','Timepoint']].duplicated()
mouse_bool.head()
mouse_id = [mice_study['Mouse ID'][cheese] for cheese in range(0,len(mouse_bool)) if (mouse_bool[cheese] == True)]
mouse_id

['g989', 'g989', 'g989', 'g989', 'g989']

In [39]:
#look at that. there are a bunch of repeated values in there.
mice_study.loc[mice_study['Mouse ID'] == 'g989', :].head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0

In [41]:
# dropping dirty mouse
clean_mice = mice_study.loc[mice_study['Mouse ID'] != 'g989', :]
clean_mice.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [44]:
# there is one less mouse
clean_mice.nunique()

Mouse ID               248
Drug Regimen            10
Sex                      2
Age_months              24
Weight (g)              16
Timepoint               10
Tumor Volume (mm3)    1633
Metastatic Sites         5
dtype: int64